/* =============
    Base
============= */

ul{
    padding: 0;

    li{
        list-style: none;
    }
}

.content-margin{
    padding: 0;
    margin: 0;
}

.content-spacing{
    margin-top: 34px;
    @include md{
        margin-top: 51px;
    }
    @include lg{
        margin: 51px 0;
    }
}