/* =============
    Typography
============= */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
#title{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 59px;
    text-align: center;
    color: $white;
    @include md{
        text-align: left;
        line-height: 75px;
        font-size: 56px;
    }
    @include lg{
        text-align: center;
        font-size: 70px;
    }
}

#section-2-text{
    color: $marble;
    >h2{
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        @include md{
            font-size: 35px;
            line-height: 35px;
        }
        
    }
    >h5{
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
    }
}

#section-3-content{
    >h1{
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 40px;
        color: $sand;
        text-align: center; 
        @include md{
            font-size: 40px;
            line-height: 50px;
        }
        @include lg{
            font-size: 60px;
            line-height: 65px;
        }
    }
}

#section-5-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: $marble;
}

#date{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $white;
}