/* =============
    section1
============= */
#section-1{
    background-image: url('../img/section-1/hero.jpg');
    background-size: cover;
    background-position: center;
    background-position: 0 -200px;
    height: 420px;

    @include md{
        background-size: 1100px;
        height: 550px;
        background-position: 0 -1180px;
    }

    @include lg{
        background-size: cover;
        height: 720px;
        background-position: 0 -1300px;
    }


    #title{
        padding: 80px 30px;
        @include md{
            width: 300px;
            padding: 90px 50px;
        }
        @include lg{
            padding: 90px 0;
            width: 100%;
        }
        
    }
    
    
}