/* =============
    section4
============= */

#section-4{
    
    #gallery{
        display: grid;
        gap:20px;

        li{
            img{
                width: 100%;
            }
        }
    }
}