/* =============
    section3
============= */

#section-3{
    img{
        width: 100%;
    };
    #section-3-container{

        @include xl{
            grid-template-columns: auto 1200px auto;
        }
    
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas:
        ". d1 ."
        ". c ."
        ". d2 .";
        
        @include md{
            display: grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas:
            ". d1 ."
            ". c ."
            ". d2 .";
        }

        @include lg{
            display: grid;
            grid-template-columns: 20% auto 20%;
            grid-template-areas:
            ". d1 ."
            ". c ."
            ". d2 .";
        }

        #section-3-divider1{
            grid-area: d1;
        }

        #section-3-content{
            grid-area: c;
            text-align: center;
        }
        
        #section-3-divider2{
            grid-area: d2;
        }
    }
}