/* =============
    section3
============= */

#section-3{
    img{
        width: 100%;
    };
    #section-3-container{

        @include xl{
            grid-template-columns: auto 1200px auto;
        }
    
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas:
        ". section-3-content .";
        
        @include md{
            display: grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas:
            ". section-3-content .";
        }

        @include lg{

            display: grid;
            grid-template-columns: 20% auto 20%;
            grid-template-areas:
            ". section-3-content .";
        }

        #section-3-content{
            grid-area: section-3-content;
            text-align: center;
        }
    }
}