/* =============
    section3
============= */

#section-3{
    #section-3-img{
        background-image: url('../img/section-3/hero2.jpg');
        background-size: cover;
        background-position: center;
        height: 520px;
    }
    
    #section-3-container{
        margin: 34px 0;

        @include xl{
            grid-template-columns: auto 1200px auto;
        }
    
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas:
        ". section-3-content .";
        
        @include md{
            display: grid;
            grid-template-columns: 10% auto 10%;
            grid-template-areas:
            ". section-3-content .";
        }

        @include lg{

            display: grid;
            grid-template-columns: 20% auto 20%;
            grid-template-areas:
            ". section-3-content .";
        }

        #section-3-content{
            >h1{
                margin: 15px 0;
            }
            >hr{
                border: none;
                background-color: $sand;
                height: 2px;
            }
            grid-area: section-3-content;
        }
    }
}