/* =============
    section4
============= */

#section-4{
    
    #gallery{
        display: grid;
        gap:20px;

        @include xl{
            grid-template-columns: auto 1200px auto;
        }

        @include md{
            display: grid;
            gap:20px;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "g1 g1"
            "g2 g3"
            ;
        }

        @include lg{
            display: grid;
            gap:20px;
            grid-template-columns: 60% auto;
            grid-template-areas: 
            "g1 g2"
            "g1 g3"
            ;
        }

        #g1{
            background-image: url('../img/section-4/gallery1.jpg');
            background-size: cover;
            background-position: center;
            background-position: 0 -200px;
            height: 350px;

            @include md{
                background-position: 0 -400px;
                height: 715px;

                grid-area: g1;
             }
            
            @include lg{
                grid-area: g1;
            }
        }
            
        #g2{
            background-image: url('../img/section-4/gallery2.jpg');
            background-size: cover;
            background-position: center;
            background-position: 0 -20px;
            height: 330px;

            @include md{
                height: 350px;
                grid-area: g2;
            }

            @include lg{
                grid-area: g2;
            }
        }

        #g3{
            background-image: url('../img/section-4/gallery3.jpg');
            background-size: cover;
            background-position: center;
            background-position: 0 -40px;
            height: 330px;

            @include md{
                height: 350px;
                grid-area: g3;
            }

            @include lg{
                grid-area: g3;
            }
        }
    }
}