/* =============
    section2
============= */
#section-2 {
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
    }

    @include md {
        display: grid;
        grid-template-areas: ". section-2-container";
        grid-template-columns: 35% auto;
    }

    @include lg {
        display: grid;
        grid-template-areas: ". section-2-container";
        grid-template-columns: 50% auto;
    }

    #section-2-container {
        display: grid;
        grid-area: section-2-container;
        grid-template-areas: ". section-2-content .";
        grid-template-columns: 15px auto 15px;
        margin-bottom: 35px;

        @include md {
            align-self: center;
            display: grid;
            grid-area: section-2-container;
            grid-template-areas: ". section-2-content .";
            grid-template-columns: 15px auto 15px;
        }

        @include lg {
            align-self: center;
            display: grid;
            grid-area: section-2-container;
            grid-template-areas: ". section-2-content .";
            grid-template-columns: 15px auto 35px;
        }

        #section-2-content {
            grid-area: section-2-content;
            text-align: center;

            >hr {
                background-color: $sand;
                border: none;
                height: 2px;
            }

            #section-2-text {
                margin: 19px;

                @include md {
                    margin: 19px 30px 19px 0;
                }

                @include lg {
                    margin: 25px 0;
                }

                >h5 {
                    margin-top: 10px;
                }
            }

            @include md {
                grid-area: section-2-content;
                text-align: left;
            }

            @include lg {
                grid-area: section-2-content;
                text-align: left;
            }
        }
    }

    aside {
        background-image: url('../img/section-2/section2.jpeg');
        background-position: center;
        background-size: cover;
        height: 600px;

        @include md {
            height: 550px;
        }

        @include lg {
            height: 1000px;
        }

        @include xl {}
    }
}