/* =============
    section5
============= */
#section-5 {
    display: grid;
    grid-template-areas: ". section-5-img-container ."
        ". section-5-text-container .";
    grid-template-columns: 15px auto 15px;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    @include md {
        display: grid;
        grid-template-areas: ". section-5-img-container ."
            ". section-5-text-container .";
        grid-template-columns: 12% auto 12%;
    }

    @include lg {
        display: grid;
        grid-template-areas: ". section-5-img-container section-5-text-container";
        grid-template-columns: 20px 30% auto;
    }

    #section-5-img-container {
        background-image: url('../img/section-5/profile.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        grid-area: section-5-img-container;
        height: 400px;
    }

    #section-5-text-container {
        grid-area: section-5-text-container;

        @include lg {
            display: grid;
            grid-area: section-5-text-container;
            grid-template-areas: ". section-5-text .";
            grid-template-columns: 20% auto 20%;
        }

        @include md {
            grid-area: section-5-text-container;
        }

        #section-5-text {
            grid-area: section-5-text;
            margin: 25px 0;

            @include md {
                margin: 50px 0;
            }

            @include lg {
                grid-area: section-5-text;
            }
        }
    }
}