/* =============
    section2
============= */
#section-2{

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
    }

    @include md{
        display: grid;
        grid-template-columns: 35% auto;
        grid-template-areas: ". section-2-container";
    }

    @include lg{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: ". section-2-container";
    }
        
    #section-2-container{
        margin-bottom: 35px;
        grid-area: section-2-container;
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas:
        ". section-2-content .";

        @include md{
            display: block;
            align-self: center;

            grid-area: section-2-container;

            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas:
            ". section-2-content .";
        }

        @include lg{
            display: block;
            align-self: center;

            grid-area: section-2-container;

            display: grid;
            grid-template-columns: 15px auto 35px;
            grid-template-areas:
            ". section-2-content .";
        }
        
        #section-2-content{
            >hr{
                border: none;
                background-color: $sand;
                height: 2px;
            }

            #section-2-text{
                margin: 19px;
                @include md{
                    margin: 19px 30px 19px 0;
                }
                @include lg{
                    margin: 25px 0;
                }
                >h5{
                    margin-top: 10px;
                }
            }
            grid-area: section-2-content;
            text-align: center;

            @include md{
                grid-area: section-2-content;
                text-align: left;
            }
            
            @include lg{
                grid-area: section-2-content;
                text-align: left;
            }
        }
        
    }

    aside{
        background-image: url('../img/section-2/section2.jpeg');
        background-size: cover;
        background-position: center;
        height: 600px;

        @include md{
            height: 550px;
        }

        @include lg{
            height: 1000px;
        }

        @include xl{
            
        }
    }
}