/* =============
    section1
============= */
#section-1{
    #title{
        padding: 30px;
    }
    
    background-image: url('../img/section-1/hero.jpg');
    background-size: cover;
    background-position: center;
    background-position: 0 -200px;
    height: 380px;

    @include md{
        background-size: rem-calc(1100);
        height: 515px;
        background-position: 0 -1200px;
    }
    @include lg{ 
        background-size: cover;
        height: 750px;
    }

    @include xl{
        height: 50vh;
    }

    
}