/* =============
    Footer
============= */

#footer{
    padding: 5px;
    height: 50px;
    background-color: #88A4A8;
    #footer-container{
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: flex-end;
        #logo{
            background-image: url('../img/footer/logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
        }
    }
    
    
    
}
    