/* =============
    Footer
============= */

#footer{
    background-color: #88A4A8;
    height: 60px;

    #footer-container{
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        align-items: center;
    
    }
}
    